/* styles.css */
body, html {
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    height: 100%;
    /*background-color: #000;*/
    color: #fff;
}

p {
    margin: 0.1em 0; /* Adjust this value as needed */
}

.background-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
}


.background-layer { 
    flex: 1;
    background-size: cover;
    background-position: center;
    animation: scrollBackground 10s linear infinite;
}

.background-layer:nth-child(1) {
    background-image: url('https://raw.githubusercontent.com/iusxius/Opificio.net/main/GIULIA%20LAUDENZIIMG_6228.jpg');
}

.background-layer:nth-child(2) {
    background-image: url('https://raw.githubusercontent.com/iusxius/Opificio.net/main/GIULIA%20LAUDENZIIMG_6166.jpg');
}


@keyframes scrollBackground {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    z-index: 1;
    color: white;
    flex-direction: column; 
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1;
}

.footer-content a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}


